<footer class="relative -bottom-80" >
  <div class="divide-y-4 divide-yellow-600 divide-dashed relative flex justify-center">

  <p class="">made by <span class="text-xl shadow-2xl text-yellow-200 animate-bounce">Abdul Waheed</span></p>