<img class="h-screen absolute w-screen bg-auto" src="https://images.unsplash.com/photo-1500674425229-f692875b0ab7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80" alt="weather img">
<div class=" h-12 text-center flex justify-between items-center pl-4 relative">

<h1 class="text-red-600 text-2xl shadow"><a href="/">weather app</a></h1>
<li class="flex justify-between w-40 text-gray-200 mr-8">
  <a href="/help" class="">Help</a>
  <a href="/about">About</a>
</li>
</div>
  
